
  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margins */
    background-color: #46967d ; /* Slightly darker background for the container */
  }
  
  .signup-form {
    max-width: 500px;
    width: 100%;
    background-color: #ffffff; /* White background for the form */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* More prominent shadow */
    border: 1px solid #ddd; /* Light border around the form */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
  }
  
  .signup-heading {
    margin-bottom: 20px;
    font-size: 28px; /* Slightly larger font size for the heading */
    color: #333;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-label {
    margin-bottom: 5px;
    font-size: 18px;
    color: #666;
  }
  
  input[type="email"], 
  input[type="password"], 
  input[type="text"], 
  select {
    width: 100%;
    padding: 12px; /* Slightly larger padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  select {
    -webkit-appearance: none; /* Remove default styling for select elements */
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0%, #e9ecef 100%);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
  }
  
  .signup-btn {
    padding: 12px; /* Slightly larger padding for the button */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Full width */
  }
  
  .signup-btn:hover {
    background-color: #0056b3;
  }
  